* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(122, 112, 124);
}

nav {
    background-color: rgb(122, 112, 124);

}

.titulo-pg {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}



.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;




}



#menu :hover {
    background-color: crimson;
    color: white;

}

#boton {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: black;
    border-color: black;

}

.carousel-inner {
    padding-top: 10px;

    max-height: 50rem;


}

#noticia-p {
    width: 400px;
    height: 400px;
}

#titulo-h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-align: center;

}

@media (max-width:768px) {
    #titulo-h2 {
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;

    }

    #noticia-p {
        margin-top: 5px;
        max-width: 290px;
        max-height: 290px;
    }

}