* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(122, 112, 124);
}

nav {
    background-color: rgb(122, 112, 124);

}

.titulo-pg {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}



.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;




}



#menu :hover {
    background-color: crimson;
    color: white;

}

#boton {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: black;
    border-color: black;

}