header {
    background-color: rgb(122, 112, 124);
}

.titulo-pg {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}